{% extends 'base.html' %}
{% block content %}

    <title>Identitas Saya</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 10px;
        }
        section {
            margin-top: 10px;
        }
        table {
            border-collapse: collapse;
            width:25%;
        }
        th, td {
            border: 1px solid;
            padding: 6px;
            text-align: left;
        }
    </style>
<body>

    <header>
        <h1>Identitas Mahasiswa</h1>
    </header>

    <section>
        <table>
            <tr>
                <th>Nama</th>
                <td>Amilatus Sholehah</td>
            </tr>
            <tr>
                <th>NPM</th>
                <td>2022020100019</td>
            </tr>
            <tr>
                <th>Jurusan</th>
                <td>Teknik Informatika</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>amilatussholehah6@gmail.com</td>
            </tr>
        </table>
    </section>

</body>
</html>

</body>
</html>

</body>
</html>


{% endblock %}